/* MAIN */
html,
body {
	height:100%;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x:hidden;
}

h1 {
	display:none;
}

a,
a:focus,
a:hover {
	outline:0 none;
	text-decoration:none;
}

p {
	margin: 0 0 20px;
	font-size:16px;
	line-height:28px;
}

h2 {
	margin:0 0 20px;
	color:#FFFFFF;
	font-family:'Raleway';
	font-size:56px;
}

h3 {
	color:#FFFFFF;
	font-family:'Alegreya Sans SC';
}

h4 {
	color:#FFFFFF;
	font-family:'Alegreya Sans SC';
	margin-top:0;
}

/* BUTTONS */

.btn,
.btn:hover,
.btn:focus {
	font-family:'Montserrat';
	border-bottom:4px solid #FFFFFF;
	color:#FFFFFF;
	transition-duration:0.4s;
}

.btn-primary {
	background-color:#ED5A64;
	border-color:#DB4F58;
}

.btn-footer {
	background-color:#FFFFFF;
	color:#2C3E50;
	margin-left:5px;
}

.btn-footer:hover {
	background-color:#2C3E50;
}


.btn-primary:hover,
.btn-primary:focus {
	background-color:#DB4F58;
	color:#ffffff;
	border-color:#DB4F58;
}

.btn-reference {
	border:1px solid #FFFFFF;
	border-bottom:3px solid #FFFFFF;
	background-color:transparent;
}

.btn-reference:hover,
.btn-reference.btn-active {
	border:1px solid #89eafb;
	border-bottom:3px solid #89eafb;
	color:#89eafb;
}

/* NAVBAR */
.navbar-default {
    margin: 0;
    background-color: #2C3E50;
    border: none;
    border-radius: 0;
    padding-top: 3px;
    border-bottom: 8px solid rgba(0,0,0,0.1);
    display: none;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat';
    padding: 17px 0 0 15px;
    color: #74b1be;
    font-size: 1.25rem;
    transition-duration: 0.7s;
}

.navbar-logo {
    padding: 7px 0 0 0;
    width: 50px;
}

.navbar-default .navbar-brand:hover {
	color:#9feaf9;
}

.navbar-default .navbar-nav > li > a {
	color:#74b1be;
	font-family:'Raleway';
	margin-top:6px;
	font-size:17px;
	border-bottom:2px solid transparent;
	transition-duration:0.7s;
}

.navbar-default .navbar-nav > li > a.blog_menu_link{
	color:#ED5A64;
}

.navbar-default .navbar-nav > li > a.blog_menu_link:hover{
	color:#ED5A64;
	border-left:4px solid #ED5A64;
}

.navbar-default .navbar-nav > li > a:hover {
	color:#9feaf9;
    border-bottom:2px solid #9feaf9;
}

.navbar-collapse {
	margin:0;
	background-color:#2C3E50;
	border:none;
	border-radius:0;
	padding-top:3px;
	overflow:hidden;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

/* HEADER */
header {
	text-align:center;
	background-color:#2b2e3b;
}

.jumbotron {
	margin:0;
  	background-color:#2b2e3b;
}

.jumbotron img {
	margin:0 auto 0 auto;
	max-height:350px;
	margin-bottom:15px;
}

.social-wrapper h2 {
	display:inline;
	padding:0 15px 0 15px;
	font-size:78px;
}

.brands {
	display:inline;
}

.brands > li > a {
	background-color:transparent;
	color:#FFFFFF;
	border-top:3px solid #89eafb;
	transition-duration:0.2s;
}

.brands > li > a:hover {
	color:#89eafb;
	border-top:3px solid #2b2e3b;
}

.carousel-inner .icon-first {
	color:#ED5A64;
}

.carousel-inner i {
	color:#89eafb;	
}

.carousel-inner h3 {
	font-size: 20px;
}

.carousel-inner {
	margin-bottom:15px;
}

.jumbotron .btn {
	margin-right:15px;
}

